In [2]:
# data types

2.0

boolean = True #False

6

2.0

In [5]:
var = 'This is a string'
var = var.replace(' is ', ' are ')
print(var)

This are a string

In [6]:
string1 = 'Hello World!'
string2 = "I'm Will"

var2 = string1 + ' ' + string2
print(var2)

Hello World! I'm Will

In [7]:
print(string1 *10)

Hello World!Hello World!Hello World!Hello World!Hello World!Hello World!Hello World!Hello World!Hello World!Hello World!

In [9]:
paragraph = '{} is {} years old. They {} in {} as {}.'

name = 'Will'

age = 37

activity = 'work'

institution = 'UQAM'

career = 'CTO'

#method: format
will = paragraph.format(name,age,activity,institution,career)

print(will)

Will is 37 years old. They work in UQAM as CTO.

In [11]:
name = 'Diego'

age = 37

activity = 'study'

institution = 'Uniandes'

career = 'Mathematician'

#
diego = paragraph.format(name,age,activity,institution,career)
print(diego)

Diego is 37 years old. They study in Uniandes as Mathematician.

In [14]:
income = 6000
costs = 4000
cashflow = income - costs

text_cashflow = 'the guy earns {}$ a month but needs to pay around {}$ in some duties, which remains: {}$'
final_cashflow = text_cashflow.format(income,costs,cashflow)
print(final_cashflow)

the guy earns 6000$ a month but needs to pay around 4000$ in some duties, which remains: 2000$

In [15]:
#def: keyword that says it is a function
#bmi: the name of the function. It can be any name
#(weight,height): parameters. They are what we can pass to the function when we call it
# return: what the function gives back 

def bmi(weight, height):
    body_max_index = weight / height ** 2
    return body_max_index

bmi_diego = bmi(70,1.82)
bmi_erich = bmi(75, 1.70)

print(bmi_diego)
print(bmi_erich)

21.132713440405748
25.95155709342561

In [19]:
# function to convert farenheit to celsius      
# input: farenheit
# output: celsius
def convert(farenheit):
    C =(farenheit-32)*(5/9)
    return C

convert_summer=convert(100)
convert_winter=convert(50)

print(convert_summer)
print(convert_winter)

37.77777777777778
10.0

In [20]:
#function to convert miles to kilometers    *1.609

def convert_distance(miles):
    kms=miles*1.609
    return kms

convert_distance_run = convert_distance(100)

print(convert_distance_run)

160.9

In [22]:
#function to get time from distance and velocity   v=d/t   t=d/v

def time(distance,velocity):
    t=distance/velocity
    return t

time_fastTest = time(20,10)

print(time_fastTest)

2.0

In [ ]:

#let the debt sit 5 years
# (1 + monthly_interest)**12 = (1+yearly_interest)
# monthly_interest = (1+yearly_interst)**(1/12) - 1

In [24]:
#function: a loan of annual payments. Given the amount of money loaned, the efective annual interest rate,
#and the years to pay the loan, give the payment each month
#    (12 payments per year)       during Y years        regarding  X$ overall       with  % rate    =>  how much to pay each month  $$

# payback = (C * i) / (1 - (1+i)^(-n))
#  n is the total number of paybacks = 12 * years
#  interests are exponential          

def cashPayback(years,loan,rate):
    n = 12 * years
    rate = (1+rate)**(1/12) - 1
    payback = (loan*rate) / (1 -(1+rate)**(-n))
    return payback 
    

print(cashPayback(2,20000,0.1))

918.9247541879554

In [2]:
# function gdp of a country, and population. Calculate the gdp per capita
# population number x personal economy = global GDP

def gdp(population,personal_economy):
    global_GDP=population*personal_economy
    return global_GDP

global_GDP_example=gdp(10000000,20000)
print(global_GDP_example)

200000000000